* {
  margin: 0;
  padding: 0;
  list-style: none;
}
#alert_win,#gallery-container ul,#gallery-container ul li{
   margin:0;
   padding:0;
}

#gallery-container .li{
    margin-left:-3px;
    _margin-left:-3px;
}

#gallery-container{
  position: relative;
  width:340px;
  height:247px;
  margin:4em auto 2em auto;
}

#gallery-container ul li{
  display:inline-block;
  cursor: pointer;
  display:inline;
 
  
}
#gallery-container ul li img,#gallery-container ul li{
  width:110px;
  height:80px;
}




