@charset "utf-8";
/* CSS Document */

/*1 重定义浏览器默认样式
	Name:style_reset
	Level:Global
	Explain:重定义浏览器默认样式
	Last Modify:jackying
*/

*,
*:before,{
	word-wrap:break-word;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*{ padding: 0; margin: 0;}
